@tailwind base;
@tailwind components;
@tailwind utilities;

.transition_slow {
    transition: all 300ms linear;
}

@font-face {
    font-family: "THICCCBOI normal";
    src: url('../app/font/thicccboi/THICCCBOI-Light.ttf');
}

@font-face {
    font-family: "THICCCBOI";
    src: url('../app/font/thicccboi/THICCCBOI-Regular.ttf');
}

@font-face {
    font-family: "THICCCBOI SemiBold";
    src: url('../app/font/thicccboi/THICCCBOI-SemiBold.ttf');
}
@font-face {
    font-family: "THICCCBOI Medium";
    src: url('../app/font/thicccboi/THICCCBOI-Medium.ttf');
}

.thicccboi_normal {
    font-family: "THICCCBOI", sans-serif;
}

.thicccboi_regular {
    font-family: "THICCCBOI", sans-serif;
}

.thicccboi_SemiBold {
    font-family: "THICCCBOI", sans-serif;
}
.thicccboi_medium {
    font-family: "THICCCBOI", sans-serif;
}